{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/C5ptZ/2U+6Q8gF6dTCsz6l0B6swOMZLIU8E6CM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/C5ptZ/2U+6Q8gF6dTCsz6l0B6swOMZLIU8E6CM" crossorigin="anonymous"></script>

<style>
    .club-info-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    .clubs-cards-container{
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        margin: 0 auto;
    }

    .club-description {
        margin-top: 20px;
        font-size: 18px;
    }

    .club-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.club-info-title-heading {
    font-size: 36px;
    margin-bottom: 10px;
}

.club-info-title-line {
    border: 1px solid #ccc;
}

.club-item {
    margin-bottom: 40px;
}

.club-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.club-item-image {
    position: relative;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.club-info-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.club-info-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.club-description-box,
.club-category-box,
.club-contact-box,
.club-location-box,
.club-files-box,
.club-followers-box {
    flex: 1;
    background-color: #f8f8f8;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    min-width: 150px;
}

.club-description-title,
.club-category-title,
.club-contact-title,
.club-location-title,
.club-files-title,
.club-followers-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.club-description,
.club-category,
.club-contact,
.club-location,
.club-files,
.club-followers {
    font-size: 14px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.club-item-buttons {
    display: flex;
    gap: 10px;
    margin: 10px;
    }

    .save-button, .delete-button, .create-event-button {
        margin: 5px;
    }

    .btn-save-changes, .btn-delete-club, .btn-create-event {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: #fff;
    }

    .btn-save-changes {
        background-color: #4CAF50;
    }

    .btn-delete-club {
        background-color: #f44336;
    }

    .btn-create-event {
        background-color: #61ddee;
    }
</style>
<section class="clubs-cards">
    <div class="clubs-cards-container">
        <div class="card clubs">
            <div class="flex-content">
                <span class="material-icons">group_work</span>
                <p class="big-number">{{ clubs.count }}</p>
            </div>
             <h2>Number of Clubs</h2>
        </div>
        <div class="card followers">
            <div class="flex-content">
                <span class="material-icons">people</span>
                <p class="big-number">{{ followers.count }}</p>
            </div>
                <h2>Club Followers</h2>
        </div>
        <div class="card events">
            <div class="flex-content">
                <span class="material-icons">event</span>
                <p class="big-number">{{ events.count }}</p>
            </div>
            <h2>Events</h2>
        </div>
    </div>
</section>
<section class="club-info">
    <div class="club-info-container">
    <div class="club-info-title">
        <h1 class="club-info-title-heading">Your Clubs</h1>
        <hr class="club-info-title-line">
    </div>
        {% for club in clubs %}
    <div class="club-item" data-club-id="{{ club.id }}">
        <div class="club-title">
            <h2 contenteditable="true" data-field="name">
                {{ club.name }}
            </h2>
        </div>
        <div class="club-item-image">
            <img class="club-info-image" src="{{ club.image.url }}" alt="Club Image">
{#            <span class="material-icons edit-image-icon">edit</span>#}
            <input type="file" class="edit-image-input" accept="image/*">
            <button class="edit-image-input">Save</button>
        </div>
            <div class="club-description-box">
                    <div class="club-description-title">
                        <h3>Description</h3>
                    </div>
                    <div class="club-description">
                        <p contenteditable="true" data-field="description">{{ club.description }}</p>
                    </div>
                </div>
            <div class="club-info-details">
                <div class="club-category-box">
                    <div class="club-category-title">
                        <h3>Category</h3>
                    </div>
                    <div class="club-category">
                        <p contenteditable="true" data-field="category">{{ club.category }}</p>
                    </div>
                </div>
                <div class="club-contact-box">
                    <div class="club-contact-title">
                        <h3>Contact</h3>
                    </div>
                    <div class="club-contact">
                        <p contenteditable="true" data-field="email">Email: {{ club.contact_email }}</p>
                        <p contenteditable="true" data-field="contact_phone">Phone: {{ club.contact_phone }}</p>
                    </div>
                </div>
                <div class="club-location-box">
                    <div class="club-location-title">
                        <h3>Location</h3>
                    </div>
                    <div class="club-location">
                        <p contenteditable="true" data-field="location">{{ club.location }}</p>
                    </div>
                </div>
                <div class="club-files-box">
                    <div class="club-files-title">
                        <h3>Files</h3>
                    </div>
                    <div class="club-files">
                        <p>Constitution: <a href="{{ club.constitution.url }}">Download</a></p>
                        <input type="file" id="constitution-input" style="display:none;">
                        <button class="btn-edit-constitution">Edit</button>
                    </div>
                </div>
{#                <div class="club-followers-box">#}
{#                    <div class="club-followers-title">#}
{#                        <h3>Followers</h3>#}
{#                    </div>#}
{#                    <div class="club-followers">#}
{#                        <p>1234</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
            {% empty %}
            <div>No clubs created by you.</div>
            {% endfor %}
            <div class="club-item-buttons">
                 <div class="save-button">
                     <button type="button" class="btn-save-changes">Save Changes</button>
                 </div>
                <div class="create-event-button">
                    <a href="{% url 'create-event' %}?club={{ club.id }}"><button type="button" class="btn-create-event">Create Event</button></a>
                </div>
                <div class="delete-button">
                    <button type="button" class="btn-delete-club">Delete Club</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function updateClubData(club_id, field_name, new_value) {
        let data = {};
        data[field_name] = new_value;

        let xhr = new XMLHttpRequest();
        xhr.open('PUT', `/api/clubs/${club_id}/`, true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

        if (!csrfSafeMethod(xhr.method) && !xhr.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader('Authorization', 'Token {{ user.auth_token.key }}');
        }

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log(JSON.parse(xhr.responseText));
                } else {
                    console.error('Error updating club data:', xhr.statusText);
                }
            }
        };

        xhr.send(JSON.stringify(data));
        console.log('Sent:', data)
    }

    function uploadFile(clubId, fieldName, file) {
        let formData = new FormData();
        formData.append(fieldName, file);

        let xhr = new XMLHttpRequest();
        xhr.open('PUT', `/api/clubs/${clubId}/`, true);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.setRequestHeader('Authorization', 'Token {{ user.auth_token.key }}');

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log(JSON.parse(xhr.responseText));
                } else {
                    console.error('Error uploading file:', xhr.statusText);
                }
            }
        };
        xhr.send(formData);
    }

    function handleImageUpload(clubId, fieldName, file) {
        if (file) {
            let reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('.club-info-image').src = e.target.result;
            };
            reader.readAsDataURL(file);
            uploadFile(clubId, fieldName, file);
        }
    }

    function deleteClub(club_id) {
        let xhr = new XMLHttpRequest();
        xhr.open('DELETE', `/api/clubs/${club_id}/`, true);

        if (!csrfSafeMethod(xhr.method) && !xhr.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader('Authorization', 'Token {{ user.auth_token.key }}');
        }

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 204) {
                    console.log('Club deleted successfully');
                    location.reload();
                } else {
                    console.error('Error deleting club:', xhr.statusText);
                }
            }
        };

        xhr.send();
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.btn-edit-constitution').addEventListener('click', function() {
            const clubItem = this.closest('.club-item');
            const clubId = clubItem.dataset.clubId;

            const fileInput = document.getElementById('constitution-input');
            fileInput.click();
            fileInput.addEventListener('change', function() {
                const file = fileInput.files[0];
                uploadFile(clubId, 'constitution', file);
            });
        });

        document.querySelectorAll('.edit-image-input').forEach(function (imageInput) {
            imageInput.addEventListener('change', function () {
                const clubItem = imageInput.closest('.club-item');
                const clubId = clubItem.dataset.clubId;
                const file = imageInput.files[0];
                handleImageUpload(clubId, 'image', file);
            });
        });

        document.querySelectorAll('.btn-save-changes').forEach(function (saveButton) {
            saveButton.addEventListener('click', function () {
                const clubItem = saveButton.closest('.club-item');
                console.log('clubItem:', clubItem);
                const clubId = clubItem.dataset.clubId;
                clubItem.querySelectorAll('[contenteditable="true"]').forEach(function (editableField) {
                    let fieldName = editableField.dataset.field;
                    let newValue = editableField.textContent;
                    updateClubData(clubId, fieldName, newValue);
                });
                clubItem.querySelector('.save-button').style.display = 'none';
            });
        });

        document.querySelectorAll('.btn-delete-club').forEach(function (deleteButton) {
            deleteButton.addEventListener('click', function () {
                const clubItem = deleteButton.closest('.club-item');
                const clubId = clubItem.dataset.clubId;

                if (confirm('Are you sure you want to delete this club?')) {
                    deleteClub(clubId);
                }
            });
        });
    });
</script>

