footer {
  background-color: var(--color-secondary);
  color: var(--text-color-light);
  font-family: var(--font-family);
  padding: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer-menu h3 {
  margin-bottom: 0.5rem;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 0.5rem;
}

.footer-menu a {
  color: var(--text-color-light);
}

.footer-logo {
  width: 25%;
  display: flex;
  justify-content: center;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

/* Optional: Add a border or box-shadow */
footer {
  border-top: 2px solid var(--color-tertiary);
  box-shadow: 0 -4px 8px var(--color-tertiary);
}
