
.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #f5f5f5;
    color: #616161;
    transition: all 0.3s;
}

#sidebar ul li {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: none;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1f1f1f;
    text-align: center;
}

#sidebar ul.components {
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #4b4b4b;
    text-decoration: none;
}

#sidebar ul li a {
    font-size: 1.1em;
    display: block;
    color: #03204b;
    text-decoration: none;
}

#sidebar ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 250px;
  display: none;
  transition: all 0.3s;
}

#sidebar ul li ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul li ul li a:hover {
    color: #63f1d7;
    text-decoration: none;
}

#sidebar ul li:hover > ul {
  display: block;
}

#sidebar ul li a i {
    margin-right: 10px;
    color: #b9bbbe;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1f1f1f;
}

.collapse {
    background: #cfd3d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: auto;
}




