.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #3D1766;
  z-index: 100;
  padding: 1rem;
}

.navbar__logo {
  flex: 1;
  text-align: left;
}

.navbar__logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar__menu {
  flex: 3;
  text-align: right;
}

.navbar__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__menu ul li {
  margin-left: 1rem;
}

.navbar__menu ul li a {
  color: white;
  text-decoration: none;
}

.navbar__menu ul li a:hover {
  color: #FFC107;
}

.navbar__toggle {
  display: none;
}

.navbar__icon {
  display: block;
  width: 1.5rem;
  height: 0.15rem;
  margin-top: 0.5rem;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0.5rem;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }
}
