@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,700&display=swap');
@import url('base.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary);
  z-index: 100;
  font-family: var(--font-family);
}

.navbar__logo {
  flex: 1;
  text-align: left;
  padding: 1rem 0;
}

.navbar__logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar__menu {
  flex: 3;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.navbar__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__menu ul li {
  margin-left: 1rem;
}

.navbar__menu ul li a {
  color: var(--title-color);
  text-decoration: none;
  display: flex;
    justify-content: flex-end;
  flex-direction: row;
}

.navbar__menu ul li a:hover {
  color: #FFC107;
}

.navbar__toggle {
  display: none;
}

.navbar__icon {
  display: block;
  width: 1.5rem;
  height: 0.15rem;
  margin-top: 0.5rem;
  background-color: white;
}

/* Mobile */

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0.5rem;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }
}

/* Hero */


footer {
  background-color: #3D1766;
  color: #fff;
  padding: 1em;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

