{% extends 'unihub/base.html' %}
{% load static %}
{% block title %}Club Admin{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/a1C3Pi6vj7lDyD-0a3xI5F_J3gHEGw4V4zryj1"
          crossorigin="anonymous">
{% endblock %}
{% block js %}
<script>
  function createClubForm() {
    window.location.href = "/create-club/";
  }

  function handleLinkClick(event) {
    event.preventDefault();
    const link = event.target.getAttribute('href');
    if (link) {
      window.location.href = link;
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("#sidebar a");
    links.forEach((link) => {
      link.addEventListener("click", handleLinkClick);
    });
  });
</script>
{% endblock %}
{% block content %}
<main>
  <div class="wrapper">
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Club Admin</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="#clubSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <!-- Club Management Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M16 11V7a4 4 0 0 0-8 0v4a5.06 5.06 0 0 0-2 4v5h14v-5a5.06 5.06 0 0 0-2-4zM8 7a2 2 0 0 1 4 0v4H8zm10 12H6v-3a3 3 0 0 1 6 0z"></path></svg>
        Club Management
      </a>
      <ul class="collapse list-unstyled" id="clubSubMenu">
        <li>
          <a href="{% url 'create-club' %}">
            <!-- Create Club Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>
            Create Club
          </a>
        </li>
        <li>
          <a href="#">
            <!-- Edit Club Details Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M14.7 6l2.9 2.9L9.2 17H6v-3.2zM17 4l-1-1a1.91 1.91 0 0 0-2.7 0L3 13a1 1 0 0 0-.3.7V19a1 1 0 0 0 1 1h5.3a1 1 0 0 0 .7-.3L17 6.7a2 2 0 0 0 .1-2.7z"></path></svg>
            Edit Club Details
          </a>
        </li>
        <li>
          <a href="#">
            <!-- Delete Club Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M3 6h18v2H3zm13 4H8l-1.4 7H18zm-9.9 9A1.1 1.1 0 0 0 7 20h10.1a1.1 1.1 0 0 0 1.1-1.1V10H6.1z"></path></svg>
            Delete Club
            </a>
        </li>
      </ul>
    </li>
      <li>
        <a href="#memberSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <!-- Member Management Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M16 11V7a4 4 0 0 0-8 0v4a5.06 5.06 0 0 0-2 4v5h14v-5a5.06 5.06 0 0 0-2-4zM8 7a2 2 0 0 1 4 0v4H8zm10 12H6v-3a3 3 0 0 1 6 0z"></path></svg>
        Member Management
        </a>
            <ul class="collapse list-unstyled" id="memberSubMenu">
            <li>
            <a href="#">
            <!-- Add Member Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>
            Add Member
            </a>
            </li>
            <li>
            <a href="#">
            <!-- Edit Member Details Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M14.7 6l2.9 2.9L9.2 17H6v-3.2zM17 4l-1-1a1.91 1.91 0 0 0-2.7 0L3 13a1 1 0 0 0-.3.7V19a1 1 0 0 0 1 1h5.3a1 1 0 0 0 .7-.3L17 6.7a2 2 0 0 0 .1-2.7z"></path></svg>
            Edit Member Details
            </a>
            </li>
            <li>
            <a href="#">
            <!-- Remove Member Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M3 6h18v2H3zm13 4H8l-1.4 7H18zm-9.9 9A1.1 1.1 0 0 0 7 20h10.1a1.1 1.1 0 0 0 1.1-1.1V10H6.1z"></path></svg>
            Remove Member
            </a>
            </li>
            </ul>
            </li>
            <li>
            <a href="#eventSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <!-- Event Management Icon -->
            </a>
            </li></ul></nav>

    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
        </div>
      </nav>
    </div>
    </div>
</main>
{% endblock %}
