{% block title %} Register {% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

<div class="register-container">
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}
    </div>
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
    </div>
    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  <p>Something here to be shown</p>
  </form>
</div>
{% endblock %}
{% block footer %}
    {% load static %}
{% endblock %}
