{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
    <section>
        <div class="container">
            <div class="home">
                <div class="home__content">
                    <div class="home__content__title">
                        <h1>uniHub</h1>
                    </div>
                    <div class="home__content__text">
                        <p>uniHub is a platform for students to connect with each other and share their experiences.</p>
                    </div>
                    <div class="home__content__btn">
                        <a href="#" class="btn">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="home__img">

                </div>
            </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}