{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header>
    {% block navbar %}
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="{% url 'home' %}" class="navbar__link">uniHub</a>
      </div>
      <div class="navbar__menu" style="display: flex">
        <ul class="navbar__list">
          {% for m in menu %}
            {% if m.title != 'Login' and m.title != 'Register' %}
              <li class="navbar__item">
                <a href="#" class="navbar__link">{{ m.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar__list">
          {% for m in menu %}
            <li class="navbar__item">
              {% if m.title == 'Login' %}
                <a href="{% url 'login' %}" class="navbar__link">{{ m.title }}</a>
              {% elif m.title == 'Register' %}
                <a href="{% url 'register' %}" class="navbar__link">{{ m.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="navbar__toggle">
        <span class="navbar__icon"></span>
      </div>
    </nav>
{% endblock %}

    {% block hero %}
       <div class="hero">
        <div class="hero__content">
            <img src="{% static 'img/herImg.jpg' %}" alt="hero" class="hero__img">
            <div class="hero__text-box">
                <h1 class="hero__title">uni<span>Hub</span></h1>
                <p class="hero__text">Connecting students and creating a community</p>
                <form class="hero__form">
                    <input type="text" class="hero__input" placeholder="Search universities or clubs" id="search" onchange="searchClub()"/>
                    <button class="hero__btn">Search</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    </header>
    {% block content %}

    {% endblock %}
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
<footer>
  <div class="footer-content">
    <div class="footer-menu">
      <h3>Menu 1</h3>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div class="footer-menu">
      <h3>Menu 2</h3>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div class="footer-menu">
      <h3>Menu 3</h3>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div class="footer-logo">
      <img src="your-logo.png" alt="Your Logo">
    </div>
  </div>
</footer>
</html>