{% load static %}
{% load unihub_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header style="background: black; z-index: 9999; position: relative">
    {% block navbar %}
        {% include 'unihub/navbar.html' %}
    {% endblock %}
    </header>

    {% block content %}
        {% block main_content %}
        {% endblock %}
    {% endblock content %}

    <script src="{% static 'js/scripts.js' %}"></script>

    {% block footer %}
        {% include 'unihub/footer.html' %}
    {% endblock %}
</body>
</html>
