{% load static %}
{% load unihub_tags %}


    <style>
        footer {
            background-color: #1a1a1a;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            padding: 2rem;
        }

        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .footer-menu {
            flex: 1 1 20rem;
            margin-bottom: 2rem;
        }

        .footer-menu h3 {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .footer-menu ul {
            list-style: none;
            padding-left: 0;
        }

        .footer-menu ul li {
            margin-bottom: 0.5rem;
        }

        .footer-menu ul li a {
            color: #fff;
            text-decoration: none;
        }

        .footer-menu ul li a:hover {
            color: rgba(6, 248, 228, 0.8);
        }

        .footer-logo {
            flex: 1 1 20rem;
            margin-bottom: 2rem;
        }

        .footer-logo a {
            color: #fff;
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
        }

        .footer-logo a:hover {
            color: #63f1d7;
        }

        @media screen and (max-width: 768px) {
            .footer-menu {
                flex: 1 1 100%;
            }

            .footer-logo {
                flex: 1 1 100%;
                text-align: center;
            }
        }
    </style>
<footer style="padding: 1rem 10rem; margin: auto 0">
    {% get_categories as categories %}
  <div class="footer-content">
  <div class="footer-logo">
    <a href="{% url 'home' %}" class="navbar__link">uniHub</a>
    </div>
    <div class="footer-menu">
      <h3>Categories</h3>
        <ul>
            {% for c in categories %}
            <li><a href="{% url 'category_view' category_slug=c.slug %}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer-menu">
      <h3>Let's be social</h3>
      <ul>
        <li><a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><span class="material-icons">alternate_email</span></a></li>
        <li><a href="https://instagram.com" target="_blank" rel="noopener noreferrer"><span class="material-icons">image</span></a></li>
        <li><a href="https://facebook.com" target="_blank" rel="noopener noreferrer"><span class="material-icons">facebook</span></a></li>
      </ul>
    </div>
  </div>
    <div class="footer-bottom" style="margin: 0 auto">
    <p>&copy; uniHub <span id="footerYear"></span>All rights reserved</p>
</div>
</footer>

<script>
    const currentYear = new Date().getFullYear();
    document.getElementById("footerYear").innerHTML = `${currentYear} - All rights reserved`;
</script>