<!-- user-dashboard.html -->

{% extends 'unihub/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user-dash.css' %}">
{% endblock %}

{% block hero %}{% endblock %}

{% block main_content %}
    <main class="main-dashboard">
        <h1>Welcome to your Dashboard</h1>
        <p>Here you can manage your profile, view notifications, and more.</p>
        <!-- Add more content here as needed -->
    </main>
{% endblock %}
